# Test environment example

# Host files and folders -> User MUST provide

# Where is the installer file on the host?

H_SUIF_INSTALL_INSTALLER_BIN=/path/to/installer.bin

# Where is the products image file on the host?

H_SUIF_PRODUCTS_IMAGE_FILE=/path/to/products.zip

# Where is the Update Manager Bootstrap on the host?

H_SUIF_PATCH_SUM_BOOSTSTRAP_BIN=/path/to/sum-bootstrap.bin

# Where is the fixes image file on the host?

H_SUIF_PATCH_FIXES_IMAGE_FILE=/path/to/fixes.zip

# Where is the MSR license file on the host?

H_MSR_LICENSE_FILE=/path/to/MSR_license.xml

# port prefix helps with parallelizing docker-compose projects

H_SUIF_PORT_PREFIX=459

# Guest variables -> User MAY change if needed

SUIF_INSTALL_INSTALLER_BIN=/mnt/installer.bin
SUIF_INSTALL_IMAGE_FILE=/mnt/products.zip
SUIF_PATCH_AVAILABLE=1
SUIF_PATCH_SUM_BOOSTSTRAP_BIN=/tmp/sum-boostrap.bin
SUIF_PATCH_FIXES_IMAGE_FILE=/tmp/fixes.zip
SUIF_SETUP_TEMPLATE_MSR_LICENSE_FILE=/mnt/MSR_License.xml

SUIF_INSTALL_INSTALL_DIR=/app/sag/1011/MSR
SUIF_SUM_HOME=/app/sag/sum11

SUIF_INSTALL_TIME_ADMIN_PASSWORD=MyExamplePass^.-0
SUIF_AUDIT_BASE_DIR=/app/audit
SUIF_HOME=/mnt/SUIF_HOME
SUIF_LOCAL_SCRIPTS_HOME=/mnt/scripts/local

SUIF_SAG_USER_NAME=sagadmin
SUIF_ONLINE_MODE=0
SUIF_DEBUG_ON=1
SUIF_SDC_ONLINE_MODE=0
