# User MUST provide the H_ (host related) variables below

H_SUIF_INSTALL_INSTALLER_BIN=
H_SUIF_PATCH_SUM_BOOSTSTRAP_BIN=
H_SUIF_INSTALL_IMAGE_FILE_DBC4AT=
H_SUIF_PATCH_FIXES_IMAGE_FILE_DBC4AT=
H_SUIF_INSTALL_IMAGE_FILE_ATS=
H_SUIF_PATCH_FIXES_IMAGE_FILE_ATS=
H_SUIF_SETUP_TEMPLATE_IS_LICENSE_FILE=
H_SUIF_SETUP_TEMPLATE_MFTSERVER_LICENSE_FILE=

# By default, latest and smalles compatible image
SUIF_TEST_POSTGRESQL_IMAGE=postgres:13.6-alpine3.15
SUIF_TEST_PORT_PREFIX=432

# Everything below may be left as is for the test purposes

# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ats image build arguments (-> any change in these requires a new build of the image)
SRC_IMAGE=centos:7
#SUIF_TEST_GPG_KEYS_FILE_1=/etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
SUIF_INSTALL_InstallDir_ATS=/app/1011/mftServerTest1
SUIF_INSTALL_InstallDir_DBC=/app/1011/mftDbcTest1
SUIF_SUM_HOME=/app/sumv11
SUIF_USER_HOME=/home/sag
SUIF_LOCAL_SCRIPTS_HOME=/mnt/scripts
SUIF_AUDIT_BASE_DIR=/app/audit
SUIF_HOME=/mnt/SUIF_HOME

# Internal variables required by the template (change is optional)
SUIF_INSTALL_INSTALLER_BIN=/tmp/installer.bin
SUIF_PATCH_SUM_BOOSTSTRAP_BIN=/tmp/sum-bootstrap.bin
SUIF_INSTALL_DECLARED_HOSTNAME=my-at-server
# DBC4AT files
SUIF_INSTALL_IMAGE_FILE_DBC4AT=/tmp/dbc-products.zip
SUIF_PATCH_FIXES_IMAGE_FILE_DBC4AT=/tmp/dbc-fixes.zip
# ATS
SUIF_INSTALL_IMAGE_FILE_ATS=/tmp/ats-products.zip
SUIF_PATCH_FIXES_IMAGE_FILE_ATS=/tmp/ats-fixes.zip
SUIF_WMSCRIPT_ActiveServerPasswordName=postgres
SUIF_WMSCRIPT_ActiveServerPoolName=postgres-ats
SUIF_WMSCRIPT_ActiveServerUserName=postgres
SUIF_WMSCRIPT_adminPassword=Manage01
SUIF_WMSCRIPT_IntegrationServerDBPassName=postgres
SUIF_WMSCRIPT_IntegrationServerDBUserName=postgres
SUIF_WMSCRIPT_IntegrationServerdiagnosticPort=51799
SUIF_WMSCRIPT_IntegrationServerPoolName=postgres-is
SUIF_WMSCRIPT_IntegrationServerPort=51755
SUIF_WMSCRIPT_IntegrationServersecurePort=51753
SUIF_WMSCRIPT_mftGWPortField=51750
SUIF_WMSCRIPT_SPMHttpPort=51782
SUIF_WMSCRIPT_SPMHttpsPort=51783
SUIF_WMSCRIPT_CDSConnectionName=postgres-cds
SUIF_WMSCRIPT_CDSPasswordName=postgres
SUIF_WMSCRIPT_CDSUserName=postgres
#ATTN: server name must match SUIF_INSTALL_DECLARED_HOSTNAME
SUIF_WMSCRIPT_IS_JDBC_CONN_STRING=jdbc:wm:postgresql://my-at-server:5432;databaseName=postgres
SUIF_WMSCRIPT_CDS_JDBC_CONN_STRING=jdbc:wm:postgresql://my-at-server:5432;databaseName=postgres
SUIF_WMSCRIPT_ATS_JDBC_CONN_STRING=jdbc:wm:postgresql://my-at-server:5432;databaseName=postgres
SUIF_SETUP_TEMPLATE_IS_LICENSE_FILE=/tmp/isLicense.xml
SUIF_SETUP_TEMPLATE_MFTSERVER_LICENSE_FILE=/tmp/atLicense.xml
